* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

h1,h2, h3, h4, h5, h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.separator {
  height: 100px;
  width: 100%;
  margin: 10px;
}


.navbar-nav {
  display: flex;
  justify-content: right;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav a:last-child {
  color: white;
}

/* .oscurecer {
  filter: brightness(40%);
} */

.jumbotron {
  z-index: 100;
}


.card-custom {
  display: flex;
  max-width: 280px;
  justify-content: center;
  align-self: center;
}

.contacto-h6 {
  font-size: 12px;
}

.formButton{
  background-color: #96C21D !important;
  color: white !important;
  display: inline-block !important;
}



footer a {
  text-decoration: none;
  color: white; 
}

.img-honolulu {
  width: 50vw;
  height: auto;
  object-fit: cover;
}
@media (max-width: 991px) {
  .img-honolulu {
  width: 100vw;
  }
}


#enterWarehouseBtn {
  display: none;
}

.btn-warehouse {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.card:hover {
  transition: filter 0.3s ease-in-out;
  filter: brightness(1.2);
}

.card {
  transition: filter 0.3s ease-in-out;
}

.card img {
  transition: none;
}

.card:hover a,
.card:hover img {
  filter: brightness(1);
}